@import "../variables/screen-sizes";

.header-hero {
  max-width: fit-content;
  margin: 0 auto;
  line-height: 1.25;
  padding: 1rem;

  @media screen and (min-width: $DESKTOP) {
    margin-top: 5rem;
  }

  &__title {
    position: relative;
    font-size: 2.5rem;
    font-style: normal;
    letter-spacing: .15ch;
    color: $main-color;
    font-weight: 900;
    line-height: .9;

    @media screen and (min-width: $DESKTOP) {
      font-size: 3rem;
    }

    @mixin border-square {
      content: "";
      position: absolute;
      width: 1rem;
      height: 1rem;
      border-style: solid;
      border-color: $active-color;
      border-width: 0;
    }

    &::before {
      @include border-square;
      top: -.4ex;
      left: -.4ch;
      border-top-width: 2px;
      border-left-width: 2px;
    }

    &::after {
      @include border-square;
      bottom: -.4ex;
      right: -.4ch;
      border-bottom-width: 2px;
      border-right-width: 2px;
    }

    &--small {
      display: block;
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-size: 1.5rem;
      font-weight: 300;
      letter-spacing: normal;
      color: $main-color-l70;
    }

    &--right {
      text-align: right;
    }
  }
}
