@import '../variables/variables';

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $main-color;
  color: $main-bg-color;

  &__anchor {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    text-decoration: none;
    color: inherit;
  }

  &__image {
    width: 400px;
    max-width: 80vw;
    height: auto;
  }

  &__title {
    margin-top: 2rem;
    line-height: 1;
    font-size: 1.5rem;
    text-decoration: none;
  }

  &__subtitle {
    display: block;
    font-weight: 300;
    margin-top: 0.5rem
  }
}
