@use "../variables/variables";

nav {
  position: sticky;
  top: 0;
  background-color: variables.$main-bg-color;
  z-index: 10;

  @media screen and (min-width: variables.$DESKTOP) {
    overflow-x: hidden;
  }
}

.main-nav {
  position: absolute;
  width: 100vw;
  display: flex;
  height: fit-content;
  position: relative;
  list-style: none;
  background-color: variables.$main-bg-color;
  border-bottom: 2px solid variables.$second-bg-color;
  overflow: hidden;

  &__item {
    display: block;
    width: fit-content;
    margin: 0 .125rem;
    padding: .125rem .5rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: variables.$main-color;
    transition: background-color variables.$short-animation-time linear;

    @media screen and (min-width: variables.$DESKTOP) {
      margin: 0 .25rem;
      padding: .15rem 2rem;
      letter-spacing: 1px;
    }

    &:hover,
    &:active {
      background-color: variables.$active-color;
      color: variables.$main-bg-color;
    }

    &:focus {
      outline: 2px solid variables.$active-color;
      outline-offset: -2px;
    }

    &--active {
      background-color: variables.$active-color;
      color: variables.$main-bg-color;
    }
  }
}