@import "../variables/variables";

nav {
  position: sticky;
  top: 0;
  background-color: $main-bg-color;
  z-index: 10;

  @media screen and (min-width: 1000px) {
    overflow-x: hidden;
  }
}

.mobile-nav {
  display: block;
  padding: 0.5rem 1rem;
  font-weight: 600;
  letter-spacing: 3px;
  font-family: $secondary-font-family;

  @media screen and (min-width: 1000px) {
    display: none;
  }

  &__checkbox {
    display: none;
  }
}

.mobile-nav__checkbox:checked ~ .main-nav {
  height: fit-content;
}

.main-nav {
  position: absolute;
  width: 100vw;
  display: flex;
  flex-direction: column;
  height: 0;
  list-style: none;
  border-bottom: 2px solid $active-color-l86;
  background-color: $main-bg-color;
  overflow: hidden;

  @media screen and (min-width: 1000px) {
    position: relative;
    flex-direction: row;
    height: fit-content;
    flex-wrap: nowrap;
    padding: 0.25rem 0;
  }

  &__item {
    display: block;
    width: fit-content;
    margin: 0 0.125rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    color: $main-color;
    border-radius: 2px;
    letter-spacing: 3px;

    @media screen and (min-width: 1000px) {
      margin: 0 0.25rem;
      padding: 0.15rem 2rem;
      letter-spacing: 1px;
    }

    &:hover,
    &:active {
      background-color: $active-color;
    }

    &:focus {
      outline: 2px solid $active-color;
      outline-offset: -2px;
    }

    &--active {
      outline: 1px solid $active-color;
      outline-offset: -4px;

      @media screen and (min-width: 1000px) {
        background-color: $active-color;
      }
    }
  }
}
