@import "../variables/variables";
@import "../variables/screen-sizes";

nav {
  position: sticky;
  top: 0;
  background-color: $main-bg-color;
  z-index: 10;

  @media screen and (min-width: $DESKTOP) {
    overflow-x: hidden;
  }
}

.main-nav {
  position: absolute;
  width: 100vw;
  display: flex;
  height: fit-content;
  position: relative;
  list-style: none;
  background-color: $main-bg-color;
  border-bottom: 2px solid $second-bg-color;
  overflow: hidden;

  &__item {
    display: block;
    width: fit-content;
    margin: 0 0.125rem;
    padding: 0.125rem 0.5rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: $main-color;
    transition: background-color $short-animation-time linear;

    @media screen and (min-width: $DESKTOP) {
      margin: 0 0.25rem;
      padding: 0.15rem 2rem;
      letter-spacing: 1px;
    }

    &:hover,
    &:active {
      background-color: $active-color;
      color: $main-bg-color;
    }

    &:focus {
      outline: 2px solid $active-color;
      outline-offset: -2px;
    }

    &--active {
      background-color: $active-color;
      color: $main-bg-color;
    }
  }
}
