@import "../variables/variables";

.sketchbook {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  margin: 0 auto;

  @media screen and (min-width: 750px) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem 1rem;
    padding: 3rem;
  }

  &__item {
    max-height: $max-screen-height;

    &:nth-of-type(odd) {
      display: flex;
      justify-content: flex-end;
    }
  }
}
