@use "../variables/variables";

.work-article {
    position: relative;
    margin-bottom: 4rem;
    padding-bottom: 2rem;

    &__header {
        display: grid;
        margin-bottom: 2rem;
        gap: 2rem;
        grid-template-columns: 1fr;


        @media screen and (min-width: 500px) {
            grid-template-columns: 1fr 1fr;
            margin-bottom: 4rem;
            gap: 4rem;
            align-items: flex-end;
        }
    }

    &__position {
        font-size: 1.5rem;
        line-height: 1;
        font-weight: 100;
    }

    &__company {
        font-size: 4rem;
        line-height: 1;
        letter-spacing: -3px;
        font-weight: 900;
        font-family: Tahoma, sans-serif;
    }

    &__link {
        font-size: 2rem;
        line-height: 1;
        font-weight: 500;
        letter-spacing: normal;
    }

    &__languages-wrapper {
        position: relative;
        width: fit-content;
        margin-top: 2rem;
        padding: 1rem;
        border-radius: 2px;
        box-shadow: 3px 3px 8px hsl(300deg, 6%, 8%);

        @media screen and (min-width: 500px) {
            margin-top: 0;
        }
    }

    &__languages {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        font-size: .9rem;
        list-style: none;
        line-height: 1.5;
        font-weight: 700;
    }

    &__content {
        max-width: 40ch;
        margin-bottom: 2rem;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__details {
        display: flex;
        width: fit-content;
        margin: 2rem 0 0;
        padding: 1rem 2rem;
        align-items: center;
        font-weight: 600;
        letter-spacing: .1rem;
        border-width: 0;
        border-radius: .25rem;
        background-color: variables.$active-color;
        cursor: pointer;
    }

    &__details-close {
        position: absolute;
        right: 1rem;
        top: 1rem;
        display: flex;
        width: fit-content;
        padding: 1rem 2rem;
        align-items: center;
        font-weight: 600;
        letter-spacing: .1rem;
        border-width: 0;
        border-radius: .25rem;
        background-color: variables.$active-color;
        cursor: pointer;
    }

    &__main {
        display: grid;
        gap: 2rem 0;
        position: fixed;
        top: 0;
        left: 0;
        width: calc(100vw - 3rem);
        height: 100vh;
        max-width: variables.$max-render-width;
        margin: 0 auto;
        padding: 1rem;
        overflow-y: scroll;
        overflow-x: hidden;
        overscroll-behavior: contain;
        z-index: 10;
        background-color: rgb(15, 15, 15);
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
        transform: translateX(100vw);
        transition: transform .35s linear;

        @media screen and (min-width: 800px) {
            grid-template-columns: 1fr 1fr;
            gap: 6rem 1rem;
            top: 2.3rem;
            max-height: calc(100vh - 2.3rem);
            padding: 4rem;
        }

        @media screen and (min-width: 1000px) {
            left: auto;
        }

        &--open {
            transform: translateX(0);
        }
    }

    &__tile {
        background-color: variables.$main-bg-color;
        padding: 1rem;
        border-radius: 3px;
    }

    &__introduction {
        position: relative;
        padding: 1rem 0;
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;

        @media screen and (min-width: 500px) {
            grid-template-columns: 1fr 1fr;
        }

        &--text {
            height: fit-content;
            padding: 1rem;
            background-color: rgb(15, 15, 15);
            border-radius: 3px;
        }
    }

    &__introduction-image {
        text-align: center;
    }
}

.work-article-languages {
    &__item {
        margin: 0 .5ch;
    }
}

.work-article-img {
    &__image {
        width: auto;
        max-height: 50vh;
        max-width: 50vw;
        box-shadow: 1px 1px 3px variables.$main-color;
    }
}

.work-article-tile {
    &__title {
        font-size: 2rem;
        line-height: 1.5;

        small {
            font-size: 1rem;
        }
    }

    &__anchor {
        line-height: 1;
        display: block;
        margin-bottom: 2rem;
    }

    &__text:not(:first-of-type) {
        margin-top: 2rem;
    }
}