@import "../variables/colors";

.work-article {
    margin-bottom: 5rem;
    padding-bottom: 5rem;
    border-bottom: 2px solid $main-color-l85;

    &__title {
        font-size: 3rem;
        line-height: 1.2;

        &--small {
            display: block;
            font-size: 1.2rem;
        }
    }

    &__languages {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        font-size: 0.9rem;
        list-style: none;
        line-height: 1.5;
        color: $main-color-l30;
    }

    &__description {
        max-height: 0;
        overflow: hidden;
        transition: max-height 1000ms ease;

        &--open {
            max-height: 1000px;
        }
    }

    &__details-button {
        display: flex;
        width: fit-content;
        margin: 1rem auto;
        padding: 1rem 2rem;
        align-items: center;
        font-weight: 600;
        letter-spacing: 0.1rem;
        border-width: 0;
        border-radius: 0.5rem;
        background-color: $active-color;
    }

    h2 {
        margin: 1rem 0;
        font-size: 2rem;
        line-height: 1.2;
    }
}

.work-article-languages {
    &__item {
        margin: 0 0.5ch;
    }
}

.arrow {
    position: relative;
    display: inline-block;
    margin-right: 1ch;

    &--down {
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 30px solid $main-color;
        transition: transform 0.5s ease;
    }

    &--up {
        transform: rotate(180deg);
    }
}
