.header {
    &__wrapper {
        display: block;
        width: calc(~"100% - 30px");
        margin: 15px auto;
        background-color: #7BC5EA;
        color: #172E4E;
        text-decoration: none;
        text-align: center;
        padding: 50px 0;
        border-radius: 10px;
    }
    &__title {
        margin: 0;
        font-size: 36px;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
    }
    &__text {
        margin: 0;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }
}

.navigation {
    &__wrapper {
        display: block;
        width: calc(~"100% - 30px");
        margin: 0 auto 30px auto;
        padding: 0 0 5px 0;
        border-bottom: 1px solid #7BC5EA;
        text-decoration: none;
    }
    &__item {
        margin: 0;
        padding: 5px;
        font-size: 13px;
        border-top: 1px solid white;
        border-left: 1px solid white;
        border-right: 1px solid white;
        border-bottom: 0px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        text-decoration: none;
        color: #172E4E;
        &:hover {
            background-color: #7BC5EA;
        }
    }
    &--active {
        border-color: #7BC5EA;
    }
}

.language {
    &__wrapper {
        display: flex;
        width: calc(~"100% - 30px");
        margin: 0 auto 30px auto;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
    }
    &__title {
        color: #000;
    }
    &__item {
        min-width: 115px;
        margin: 0 10px;
        border: 0;
        text-decoration: none;
        text-align: center;
        transition: all .2s ease-in-out;
        animation: languageAnimation 30s infinite;
        &:nth-child(1) {
            animation-delay: 0s;
            order: 1;
        }
        &:nth-child(2) {
            animation-delay: -3s;
        }
        &:nth-child(3) {
            animation-delay: -6s;
        }
        &:nth-child(4) {
            animation-delay: -9s;
        }
        &:nth-child(5) {
            animation-delay: -12s;
        }
        &:nth-child(6) {
            animation-delay: -15s;
        }
        &:nth-child(7) {
            animation-delay: -18s;
        }
        &:nth-child(8) {
            animation-delay: -21s;
        }
        &:nth-child(9) {
            animation-delay: -24s;
        }
        &:nth-child(10) {
            animation-delay: -27s;
        }
        &:hover img {
            transform: scale(1.1);
        }
    }
}

@keyframes languageAnimation {
    10% {
        order: 1
    }
    20% {
        order: 2
    }
    30% {
        order: 3
    }
    40% {
        order: 4
    }
    50% {
        order: 5
    }
    60% {
        order: 6
    }
    70% {
        order: 7
    }
    80% {
        order: 8
    }
    90% {
        order: 9
    }
    100% {
        order: 10
    }
}

@media only screen and (min-width: 375px) {
    .navigation__item {
        font-size: 16px;
    }
}

@media only screen and (min-width: 800px) {
    .language__item {
        animation-play-state: paused;
    }
}