@screen-mobile: 699px;
@screen-tab: 700px;
@screen-desk: 1200px;
@light-blue: #00FFFF;
@blue: #00CCCC;
@dark-blue: #007F7F;
@bright-blue: #0D7FFF;
@blue-black: #174C4C;
@bright-green: #0DFF76;
@white: #ffffff;

@box-shadow:  0 0 5px lighten(#000, 70%);

// random gen
.makeRandom(@min: 0, @max: @min+1, @int: 0) { 
    .checkInt() {
      @getNum: `Math.random() * (@{max} - @{min} + @{int})`;
      @base: unit(`@{int} == 1 ? Math.floor(@{getNum}) : @{getNum}`);
    }
    .checkInt();
    @randNum: @base + @min;
  }
  

* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: @white;
    color: @blue-black;
}

p {
    margin: 0 0 25px 0;
    line-height: 26px;
    font-size: 16px;
}

.width--40 {
    width: 40%;
}

.margin-bottom-sm {
    margin-bottom: 25px;
}

.margin-bottom-md {
    margin-bottom: 50px;
}

.margin-bottom-lg {
    margin-bottom: 100px;
}

.margin-top-sm {
    margin-top: 25px;
}

.margin-top-md {
    margin-top: 50px;
}

.margin-top-lg {
    margin-top: 100px;
}

.text--left {
    text-align: left;
}

.text--center {
    text-align: center;
}

.header {
    &__wrapper {
        display: flex;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        background-color: #7BC5EA;
        background: linear-gradient(to bottom, @light-blue 0%, @blue 100%);
        text-decoration: none;
        padding: 50px 0;
        flex-direction: column;
        align-items: center;
        @media only screen and (min-width: @screen-tab) {
            flex-direction: row;
        }
    }
    &__image-wrapper {
        width: 30%;
        max-width: 250px;
    }
    &__text {
        font-size: 18px;
        font-family: sans-serif;
        font-weight: 400;
    }
    &--title {
        font-size: 36px;
        font-family: sans-serif;
        font-weight: 900;
    }
    &__logo {}
}

.navigation {
    &__wrapper {
        position: sticky;
        top: 0px;
        width: 100%;
        text-decoration: none;
        background-color: @bright-green;
    }
    &__item {
        display: inline-block;
        padding: 10px 5px;
        font-size: 13px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        text-decoration: none;
        &:hover {
            background-color: fade(@blue, 40%);
        }
        @media only screen and (min-width: @screen-tab) {
            margin: 10px 20px;
        }
    }
    &--active {
        background-color: fade(@blue, 70%);
    }
}

.language {
    &__inner-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        overflow: hidden;
    }
    &__wrapper {
        width: calc(~"100% - 30px");
        max-width: 950px;
        padding-top: 20px;
        margin-left: auto;
        margin-right: auto;
        background-color: @light-blue;
        box-shadow: @box-shadow;
    }
    &__title {
        color: @blue-black;
    }
    &__item {
        display: flex;
        width: 100%;
        margin-left: 15px;
        margin-right: 15px;
        padding: 20px 0;
        border: 0;
        text-decoration: none;
        text-align: center;
        &:hover img {
            transform: scale(1.1);
        }
        @media only screen and (min-width: @screen-tab) {
            width: 45%;
        }
        @media only screen and (min-width: @screen-desk) {
            width: calc(~"100% / 3 - 30px");
        }
    }
    &__text-wrapper {
        width: 60%;
    }
}

.work {
    &__wrapper {
        width: ~"calc(100% - 70px)";
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        background-image: url(/components/images/backgrounds/work-background.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        border-top-left-radius: 121px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 200px;
    }
    &-card {
        display: flex;
        flex-direction: column;
        @media only screen and (min-width: @screen-tab) {
            flex-direction: row;
            flex-wrap: wrap;
        }
        &__title {
            @media only screen and (min-width: @screen-tab) {
                width: 100%;
            }
        }
        &__image {
            width: 100%;
            max-width: 200px;
            height: 100%;
            &-wrapper {
                width: 100%;
                height: 100%;
                @media only screen and (min-width: @screen-tab) {
                    width: calc(~"30% - 60px");
                    margin-left: 30px;
                    margin-right: 30px;
                }
            }
        }
        &__text-wrapper {
            width: 100%;
            @media only screen and (min-width: @screen-tab) {
                width: calc(~"70% - 60px");
                margin-left: 30px;
                margin-right: 30px;
            }
        }
        &-examples {
            width: 100%;
            @media only screen and (min-width: @screen-tab) {
                width: 50%;
            }
            &__wrapper {
                display: flex;
                flex-direction: column;
                @media only screen and (min-width: @screen-tab) {
                    flex-direction: row;
                    flex-wrap: wrap;
                }
            }
        }
    }
}