@use "../variables/variables";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: variables.$primary-font-family;
    line-height: 2;
    font-size: 16px;
    background-color: variables.$main-bg-color;
    color: variables.$main-color;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
}

a {
    color: variables.$active-color;
    text-decoration: none;
}

main,
footer {
    padding: 0 1rem;

    @media screen and (min-width: variables.$TABLET) {
        padding: 0 4rem;
    }

    @media screen and (min-width: variables.$max-render-width) {
        padding: 0;
    }
}

main {
    min-height: 60vh;
    max-width: variables.$max-render-width;
    margin: 0 auto;
}

.page-title {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;

    &__intro {
        max-width: 60ch;
    }
}