@use "../variables/variables";

@mixin border-square($width: 1rem, $height: 1rem) {
    content: "";
    position: absolute;
    width: $width;
    height: $height;
    border-style: solid;
    border-color: variables.$active-color;
    border-width: 0;
}