$main: 0;
$secondary: 300;
$active: 203;

$main-color: hsl($main, 0%, 92%);
$main-color-l30: hsl($main, 0%, 70%);
$main-color-l85: hsl($main, 0%, 15%);

$main-bg-color: hsl($secondary, 6%, 10%);

$active-color: hsl($active, 96%, 56%);
$active-color-l66: hsl($active, 96%, 66%);
$active-color-l86: hsl($active, 96%, 86%);
