$main-color: hsl(0, 0%, 92%);
$main-color-l70: hsl(0, 0%, 70%);
$main-color-l30: hsl(0, 0%, 30%);
$main-color-l15: hsl(0, 0%, 15%);

$main-bg-color: hsl(300, 6%, 10%);
$second-bg-color: hsl(300, 6%, 5%);

$active-color: hsl(203, 96%, 56%);
$active-color-l66: hsl(203, 96%, 66%);
$active-color-l86: hsl(203, 96%, 86%);
