$main-color: #FFF;
$main-bg-color: #1C191C;
$main-active-color: #B19EFF;
$dark-gray: #262626;

$primary-font-family: Georgia, serif;
$secondary-font-family: Tahoma, sans-serif;

$max-render-width: 1200px;
$max-screen-height: 75vh;