$main-color: hsl(300, 6%, 10%);
$main-bg-color: hsl(0, 0%, 92%);
$main-active-color: hsl(203, 96%, 56%);
$dark-gray: hsl(203, 96%, 66%);

$primary-font-family: Helvetica, sans-serif;
$secondary-font-family: "Courier New", monospace;

$max-render-width: 1500px;
$max-screen-height: 75vh;