.button {
    position: relative;
    display: block;
    min-width: 200px;
    margin: 0 auto;
    padding: 1rem 2rem;
    border-radius: 2rem;
    background-color: $buttonColorDark;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 1.1rem;
    border: none;
    color: $backgroundPink;

    &:hover::after {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 2rem;
      background: #fff;
      opacity: .2;
    }

    &--small {
      display: inline-block;
      min-width: 150px;
      margin: 0;
      padding: .5rem;
      font-size: 1rem;
      letter-spacing: 1px;
    }
}