<article class="work-article">
    <header class="work-article__header">
        <div>
            <h2 class="work-article__company">
                Wizzy Popper Game
            </h2>

            <p class="work-article__link">
                <a href="https://wizzypop.a-bateman.co.uk"
                   rel="noopener noreferrer nofollow"
                   target="_blank">
                    wizzypop.a-bateman.co.uk
                </a>
            </p>
        </div>

        <div class="work-article__languages-wrapper">
            <ul class="work-article__languages work-article-languages">
                <li class="work-article-languages__item">HTML</li>
                <li class="work-article-languages__item">CSS</li>
                <li class="work-article-languages__item">SCSS</li>
            </ul>

            <ul class="work-article__languages work-article-languages">
                <li class="work-article-languages__item">JavaScript</li>
                <li class="work-article-languages__item">Vue.js</li>
            </ul>
        </div>
    </header>

    <div
         class="work-article__tile work-article__introduction work-article-tile">
        <div class="work-article__introduction--text">
            <p>
                A two player game, created using VueJS with Pina for
                storing game data.
            </p>
        </div>

        <div class="work-article__introduction-image work-article-img">
            <img src="/img/wizzy-popper-game.png"
                 alt="Screenshot of website game - wizzypop"
                 class="work-article-img__image" />
        </div>
    </div>
</article>

<article class="work-article">
    <header class="work-article__header">
        <div>
            <h2 class="work-article__company">
                STB Type
            </h2>
        </div>

        <div class="work-article__languages-wrapper">
            <ul class="work-article__languages work-article-languages">
                <li class="work-article-languages__item">Android</li>
                <li class="work-article-languages__item">Java</li>
            </ul>

            <ul class="work-article__languages work-article-languages">
                <li class="work-article-languages__item">HTML</li>
                <li class="work-article-languages__item">CSS</li>
            </ul>
        </div>
    </header>

    <div
         class="work-article__tile work-article__introduction work-article-tile">
        <div class="work-article__introduction--text">
            <p>
                This android application was created to assist with a previous
                job role. I found it
                time consuming to continue looking through the vast table on
                paper to find the specific type of equipment by looking for a
                bar-code pattern.
            </p>
            <p>
                Simply scan the bar-code and it will search it's database,
                returning the type of STB for my paperwork. This vastly
                improved productivity.
            </p>
        </div>

        <div class="work-article__introduction-image work-article-img">
            <img src="/img/stb-type.png"
                 alt="Screenshot of STB Type application"
                 class="work-article-img__image" />
        </div>
    </div>
</article>