<article class="work-article">
    <header class="work-article__header">
        <div>
            <h1 class="work-article__position">
                Senior Web Developer
            </h1>

            <h2 class="work-article__company">
                Dreams Ltd
            </h2>

            <p class="work-article__link">
                <a href="https://www.dreams.co.uk"
                   rel="noopener noreferrer nofollow"
                   target="_blank">
                    Dreams.co.uk
                </a>
            </p>
        </div>

        <div class="work-article__languages-wrapper">
            <ul class="work-article__languages work-article-languages">
                <li class="work-article-languages__item">HTML</li>
                <li class="work-article-languages__item">AMP</li>
                <li class="work-article-languages__item">CSS</li>
                <li class="work-article-languages__item">SCSS</li>
                <li class="work-article-languages__item">LESS</li>
            </ul>

            <ul class="work-article__languages work-article-languages">
                <li class="work-article-languages__item">JavaScript</li>
                <li class="work-article-languages__item">Vue.js</li>
                <li class="work-article-languages__item">jQuery</li>
                <li class="work-article-languages__item">Jest</li>
            </ul>

            <ul class="work-article__languages work-article-languages">
                <li class="work-article-languages__item">Java</li>
                <li class="work-article-languages__item">PHP</li>
                <li class="work-article-languages__item">Node.js</li>
                <li class="work-article-languages__item">webpack</li>
                <li class="work-article-languages__item">MSSQL</li>
            </ul>
        </div>
    </header>

    <div class="work-article__main">
        <div class="work-article__tile work-article-tile">
            <h2 class="work-article-tile__title">Vue.js</h2>
            <a class="work-article-tile__anchor"
               href="https://vuejs.org"
               rel="noopener noreferrer nofollow"
               target="_blank">vuejs.org</a>

            <p class="work-article-tile__text">
                The original frontend for Dreams was written using
                <a href="https://getbootstrap.com"
                   rel="noopener noreferrer nofollow"
                   target="_blank">Bootstrap 3</a>
                and
                <a href="https://jquery.com"
                   rel="noopener noreferrer nofollow"
                   target="_blank">jQuery</a>. This was
                causing page loading times to be too high for our visitors.
                The decision was made to rewrite the front end using
                <a href="https://vuejs.org"
                   rel="noopener noreferrer nofollow"
                   target="_blank">Vue.js</a>.
                We have been rewriting the front end to improve speed and stability.
                Unit testing with
                <a href="https://jestjs.io"
                   rel="noopener noreferrer nofollow"
                   target="_blank">Jest</a>
                and <a href="https://storybook.js.org"
                   rel="noopener noreferrer nofollow"
                   target="_blank">Storybook</a>
                were introduced, playing a key role in improving overall coding standards.
            </p>
        </div>

        <div></div>
        <div></div>
        <div class="work-article__tile  work-article-tile">
            <h2 class="work-article-tile__title">In-house benchmarking tool</h2>
            <a class="work-article-tile__anchor"
               href="https://nodejs.org/en"
               rel="noopener noreferrer nofollow"
               target="_blank">
                Node.js
            </a>

            <p class="work-article-tile__text">
                With the introduction of <a href="https://support.google.com/webmasters/answer/9205520?hl=en"
                   rel="noopener noreferrer nofollow"
                   target="_blank">Google's Core Web Vitals</a>, site speed became a higher priority
                for the business. To assist in communicating this importance, an internal site
                was created. This allows everyone to monitor and find issues with the site's speed.
            </p>

            <p class="work-article-tile__text">
                Using <a href="https://nodejs.org/en"
                   rel="noopener noreferrer nofollow"
                   target="_blank">Node.js</a> on a dedicated internal server, we are able to limit
                as many variables as possible to gain acurate measurments. The results are stored
                in a MS SQL database and retrieved with a web front end.
            </p>
        </div>

        <div class="work-article__tile  work-article-tile">
            <h2 class="work-article-tile__title">
                AMP
            </h2>

            <a class="work-article-tile__anchor"
               href="https://www.dreams.co.uk/amp/beds"
               rel="noopener noreferrer nofollow"
               target="_blank">
                Dreams.co.uk/amp/beds
            </a>

            <p class="work-article-tile__text">
                Developed in PHP, the aim of this project is to recreate key landing pages using Google's
                HTML framework. This improves core metrics, including site loading times, which in turn
                drive more mobile traffic.
            </p>
        </div>
        <div></div>
    </div>
</article>