<article class="work-article">
    <header class="work-article__header">
        <div>
            <h1 class="work-article__position">
                Senior Web Developer
            </h1>

            <h2 class="work-article__company">
                Moose-Artist
            </h2>

            <p class="work-article__link">
                <a href="https://www.moose-artist.co.uk"
                   rel="noopener noreferrer nofollow"
                   target="_blank">
                    Moose-Artist.co.uk
                </a>
            </p>
        </div>

        <div class="work-article__languages-wrapper">
            <ul class="work-article__languages work-article-languages">
                <li class="work-article-languages__item">HTML</li>
                <li class="work-article-languages__item">CSS</li>
                <li class="work-article-languages__item">SCSS</li>
            </ul>

            <ul class="work-article__languages work-article-languages">
                <li class="work-article-languages__item">JavaScript</li>
            </ul>

            <ul class="work-article__languages work-article-languages">
                <li class="work-article-languages__item">PHP</li>
                <li class="work-article-languages__item">webpack</li>
            </ul>
        </div>
    </header>

    <div class="work-article__tile work-article__introduction work-article-tile">
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam impedit aut provident quia voluptate
            laudantium quo excepturi placeat ratione amet obcaecati, ullam adipisci vel rerum non hic ipsam officiis.
            Delectus.
        </p>
    </div>

    <button class="work-article__details">Details</button>

    <div class="work-article__main">
        <button class="work-article__details-close">Close</button>

        <div class="work-article__tile work-article-tile">
            <h2 class="work-article-tile__title">Lorem</h2>
            <a class="work-article-tile__anchor"
               href="#"
               rel="noopener noreferrer nofollow"
               target="_blank">Lorem ipsum</a>

            <p class="work-article-tile__text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, iusto saepe asperiores sed, quis
                distinctio sint harum blanditiis consectetur dolorum repellat aliquam excepturi quos quidem dicta
                exercitationem, eius adipisci odit labore fugit alias dolore reiciendis vero. Illo suscipit accusantium
                harum.
            </p>
        </div>
    </div>
</article>