<article class="work-article">
    <header class="work-article__header">
        <div>
            <h1 class="work-article__position">
                Private Commission
            </h1>

            <h2 class="work-article__company">
                Moose-Artist
            </h2>

            <p class="work-article__link">
                <a href="https://www.moose-artist.co.uk"
                   rel="noopener noreferrer nofollow"
                   target="_blank">
                    Moose-Artist.co.uk
                </a>
            </p>
        </div>

        <div class="work-article__languages-wrapper">
            <ul class="work-article__languages work-article-languages">
                <li class="work-article-languages__item">HTML</li>
                <li class="work-article-languages__item">CSS</li>
                <li class="work-article-languages__item">SCSS</li>
            </ul>

            <ul class="work-article__languages work-article-languages">
                <li class="work-article-languages__item">JavaScript</li>
            </ul>

            <ul class="work-article__languages work-article-languages">
                <li class="work-article-languages__item">PHP</li>
                <li class="work-article-languages__item">webpack</li>
            </ul>
        </div>
    </header>

    <div
         class="work-article__tile work-article__introduction work-article-tile">
        <div class="work-article__introduction--text">
            <p>
                A bespoke website to showcase the artist's work.
            </p>
            <button class="work-article__details">Details</button>
        </div>

        <div class="work-article__introduction-image work-article-img">
            <img src="/img/moose-artist.png"
                 alt="Screenshot of website - moose-artist.co.uk"
                 class="work-article-img__image" />
        </div>
    </div>

    <div class="work-article__main">
        <button class="work-article__details-close">Close</button>

        <div class="work-article__tile work-article-tile">
            <h2 class="work-article-tile__title">Speed</h2>

            <p class="work-article-tile__text">
                Speed is crucial along
                with displaying the artwork appropriately. This is achieved
                using the newer image compression format,
                <a href="https://developers.google.com/speed/webp"
                   rel="noopener noreferrer nofollow"
                   target="_blank">WebP</a>, with a fallback for older browsers
                that do not support WebP.
            </p>
        </div>

        <div></div>
        <div></div>

        <div class="work-article__tile work-article-tile">
            <h2 class="work-article-tile__title">Lorem, ipsum.
            </h2>
            <a class="work-article-tile__anchor"
               href="#"
               rel="noopener noreferrer nofollow"
               target="_blank">Lorem, ipsum dolor.</a>

            <p class="work-article-tile__text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Necessitatibus, autem. Mollitia voluptatum possimus nam harum,
                modi obcaecati! Sed ab vitae deleniti, nulla nostrum ut id,
                magni facilis, alias illo earum.
            </p>
        </div>
    </div>
</article>