<article class="work-article">
    <h1 class="work-article__title">
        <a href="https://www.websitesbylime.co.uk" rel="noopener noreferrer nofollow">
            Websites By Lime Ltd
        </a>
    </h1>

    <h2>Design, creation & hoasting</h2>

    <p>PHP, HTML, CSS, JavaScript, Bootstrap, jQuery</p>

    <p>
        We were dealing mainly in the UK with sole traders and small businesses. This work
        entailed creating completely unique websites from initial design to final solution,
        including domain registration, hosting, and email creation.
    </p>
</article>
