<article class="work-article">
    <header class="work-article__header">
        <div>
            <h1 class="work-article__position">
                Web Developer, Web Designer
            </h1>

            <h2 class="work-article__company">
                Websites By Lime
            </h2>

            <p class="work-article__link">
                <a href="https://www.websitesbylime.co.uk"
                   rel="noopener noreferrer nofollow"
                   target="_blank">
                    WebsitesByLime.co.uk
                </a>
            </p>
        </div>

        <div class="work-article__languages-wrapper">
            <ul class="work-article__languages work-article-languages">
                <li class="work-article-languages__item">HTML</li>
                <li class="work-article-languages__item">CSS</li>
                <li class="work-article-languages__item">LESS</li>
                <li class="work-article-languages__item">JavaScript</li>
                <li class="work-article-languages__item">Bootstrap</li>
                <li class="work-article-languages__item">jQuery</li>
            </ul>

            <ul class="work-article__languages">
                <li class="work-article-languages__item">PHP</li>
            </ul>
        </div>

    </header>

    <div class="work-article__main">
        <div class="work-article__tile work-article-tile">
            <h2 class="work-article-tile__title">Design, creation & hoasting</h2>

            <p class="work-article-tile__text">
                We were dealing mainly in the UK with sole traders and small businesses. This work
                entailed creating completely unique websites from initial design to final solution,
                including domain registration, hosting, and email creation.
            </p>
        </div>
    </div>
</article>