<article class="work-article">
    <header class="work-article__header">
        <div>
            <h1 class="work-article__position">
                Web Developer, Web Designer
            </h1>

            <h2 class="work-article__company">
                Websites By Lime
            </h2>

            <p class="work-article__link">
                <a href="https://www.websitesbylime.co.uk"
                   rel="noopener noreferrer nofollow"
                   target="_blank">
                    WebsitesByLime.co.uk
                </a>
            </p>
        </div>

        <div class="work-article__languages-wrapper">
            <ul class="work-article__languages work-article-languages">
                <li class="work-article-languages__item">HTML</li>
                <li class="work-article-languages__item">CSS</li>
                <li class="work-article-languages__item">LESS</li>
            </ul>

            <ul class="work-article__languages work-article-languages">
                <li class="work-article-languages__item">JavaScript</li>
                <li class="work-article-languages__item">Bootstrap</li>
                <li class="work-article-languages__item">jQuery</li>
            </ul>

            <ul class="work-article__languages work-article-languages">
                <li class="work-article-languages__item">PHP</li>
            </ul>
        </div>

    </header>

    <div
         class="work-article__tile work-article__introduction work-article-tile">
        <div class="work-article__introduction--text">
            <p>
                Creating, maintaining and developing websites either bespoke or
                using existing templates as per customer requests. Develop for
                Mobile first using Bootstrap. Create and import Domains. Set-up
                Email addresses. Ensure images are mobile friendly. Creating and
                altering designs based on conversing with customers.
            </p>

            <button class="work-article__details">Details</button>
        </div>

        <div class="work-article__introduction-image work-article-img">
            <img src="/img/websites-by-lime.png"
                 alt="Screenshot of website - websites-by-lime"
                 class="work-article-img__image" />
        </div>
    </div>

    <div class="work-article__main">
        <button class="work-article__details-close">Close</button>

        <div class="work-article__tile work-article-tile">
            <h2 class="work-article-tile__title">
                Clapham Holme Farm
                <small>
                    <a href="https://www.claphamholmefarm.co.uk"
                       rel="noopener noreferrer nofollow"
                       target="_blank">
                        ClaphamHolmeFarm.co.uk
                    </a>
                </small>
            </h2>

            <p class="work-article-tile__text">
                This site was based on a template which has been heavily
                modified. Added custom Bootstrap controls to separate the
                different galleries and show or hide to suit. A bespoke image
                thumbnail generator. Improved page loading times.
            </p>
        </div>

        <div
             class="work-article__tile work-article-tile work-article__introduction-image">
            <img src="/img/claphamholmefarm.png"
                 alt="Screenshot of website - Clapham Holme Farm"
                 class="work-article-img__image" />
        </div>

        <div class="work-article__tile work-article-tile">
            <h2 class="work-article-tile__title">Town and Country Landscapes
                <small>
                    <a href="https://www.townandcountrylandscapes.co.uk"
                       rel="noopener noreferrer nofollow"
                       target="_blank">
                        TownAndCountryLandscapes.co.uk
                    </a>
                </small>
            </h2>

            <p class="work-article-tile__text">
                Based on a simple design, this one has a custom image fader to
                showcase some of his work before and after.
            </p>
        </div>

        <div
             class="work-article__tile work-article-tile work-article__introduction-image">
            <img src="/img/townandcountrylandscapes.png"
                 alt="Screenshot of website - Town and Country Landscapes"
                 class="work-article-img__image" />
        </div>

        <div class="work-article__tile work-article-tile">
            <h2 class="work-article-tile__title">James Thorpe Bespoke Carpentry
                <small>
                    <a href="https://www.jamesthorpecarpentry.co.uk"
                       rel="noopener noreferrer nofollow"
                       target="_blank">
                        JamesThorpeCarpentry.co.uk
                    </a>
                </small>
            </h2>

            <p class="work-article-tile__text">
                This customer had a very specific look in mind. He wanted to
                show case his work as the background. The effect was created
                using CSS3 animations. We went through numerous iterations to
                arrive at the final look including changing the text background
                and positions.
            </p>
        </div>

        <div
             class="work-article__tile work-article-tile work-article__introduction-image">
            <img src="/img/jamesthorpecarpentry.png"
                 alt="Screenshot of website - James Thorpe Carpentry"
                 class="work-article-img__image" />
        </div>

    </div>
</article>