$pinkHue: 310;
$backgroundPink: hsl($pinkHue, 100%, 98%);
$brightPinkAction: hsl($pinkHue, 100%, 55%);
$borderSubtlePink: hsl($pinkHue, 100%, 90%);

$greenHue: 106;
$textColorDark: hsl($greenHue, 100%, 10%);
$buttonColorDark: hsl($greenHue, 100%, 14%);